.bibly_reference {
  text-decoration: none;
}
.bibly_popup_outer {
  /* style */
  text-align: left;
  font-size: 12px;
  line-height: 1em;
  color: #111111;
  /* gradients */
  background: #ffffff;
  /* border radius */
  border: solid 1px #111111;
  /*-webkit-border-radius: 2px;*/
  /*-moz-border-radius: 2px;*/
  /*border-radius: 2px;*/
  /* shadow */
  /*-webkit-box-shadow: 0 1px 5px rgba(50,50,50,0.5);*/
  /*-moz-box-shadow: 0 1px 5px rgba(50,50,50,0.5);*/
  /*box-shadow: 0 1px 5px rgba(50,50,50,0.5);*/
}
.bibly_popup_header {
  background: #990000;
  font-weight: bold;
  line-height: 1.2em;
  color: #ffffff;
  /*-webkit-text-shadow: 1px 1px 1px rgba(50,50,50,0.5);*/
  /*-moz-text-shadow: 1px 1px 1px rgba(50,50,50,0.5);*/
  /*text-shadow: 1px 1px 1px rgba(50,50,50,0.5);	*/
}
.bibly_popup_footer {
  font-size: 8px;
  color: #888888;
}
.bibly_popup_footer a {
  color: #888888;
  text-decoration: underline;
}
.bibly_popup_arrowbot {
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: #ffffff transparent transparent transparent;
}
.bibly_popup_arrowbot_border {
  border-style: solid;
  border-width: 10px 15px 0 15px;
  border-color: #111111 transparent transparent transparent;
}
.bibly_popup_arrowtop {
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #990000 transparent;
}
.bibly_popup_arrowtop_border {
  border-style: solid;
  border-width: 0 15px 10px 15px;
  border-color: transparent transparent #111111 transparent;
}
.bibly_popup_content {
  color: #111111;
  line-height: 1.4em;
}
.bibly_popup_content .bibly_readMore {
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
  color: #990000;
  text-decoration: none;
  font-weight: bold;
}
.bibly_popup_content p {
  color: #111111;
}
.bibly_verse_number,
.bibly_popup_content sup,
.bibly_popup_content .ESV-version .verse-num {
  font-size: 9px;
  color: #888888;
  top: -3px;
  vertical-align: baseline;
  position: relative;
  margin-right: 2px;
}
